[tool.black]
line-length = 79
# include =
exclude = '''
/(
    \.git
  | __pycache__
  | .pytest_cache
  | .idea
  | logs
  | .venv
  | staticfiles
  | build
  | dist
  | staticfiles
)/
'''

[tool.coverage.paths]
source = ["xfce_repocapp"]

[tool.coverage.run]
branch = true
source = ["xfce_repocapp"]
omit = [
    "*/__init__.py",
    "*tests/*",
    "*test_*.py",
    "*tests.py",
]

[tool.coverage.report]
show_missing = true

[tool.isort]
profile = "black"
multi_line_output = 3
skip = ["*.gitignore"]
extend_skip = ["*.md", "*.json"]
line_length = 79

[tool.poetry]
name = "xfce_repocapp"
version = "0.8.6"
description = "A collection of scripts to maintain local Xfce repositories"
authors = ["Kevin Bowen <kevin.bowen@gmail.com>"]
license = "GPL-2.0-only"

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.dev-dependencies]
pytest = "^7.0.0"
pytest-cov = "^4.0.0"
pylint = "^2.12.2"
black = "^23.0.0"
flake8 = "^6.0.0"
isort = "^5.10.1"
pre-commit = "^3.0.0"

[tool.pytest.ini_options]
python_files = ["tests.py", "test_*.py", "*_tests.py"]
filterwarnings = [ ]

[build-system]
# requires = ["setuptools", "wheel"]
# build-backend = "setuptools.build_meta"
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
