
[tool.poetry]
name = "xfce-repocapp"
version = "0.8.6"
description = "A collection of scripts to maintain local Xfce repositories"
authors = ["Kevin Bowen <kevin.bowen@gmail.com>"]
license = "GPL-2.0-only"

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
pylint = "^2.12.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
